* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(10, 207, 233);    
}

.nav-container {
    width: 980px;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0 auto;   
}  

.logo {
    background-color: rgba(255, 166, 0, 0.849);
    padding: 5px;
}

.link {
    background-color: rgba(255, 166, 0, 0.849);
    flex-grow: 1;
    text-align: center;
    padding: 5px;
}

.login {
    background-color: rgba(255, 166, 0, 0.849);
    padding: 5px;
}

.section-nav {
    background-color: rgb(6, 6, 153);
    height: 500px;
    display: flex;
}

.nav-box {
    background-color: rgb(214, 67, 214);
    height: 400px;
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}

.container {
    width: 980px;
    height: 400px;
    display: flex;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.box1 {
    background-color: rgb(69, 69, 248);
    flex-grow: 1;
}

.box2 {
    background-color: rgba(255, 192, 203, 0.904);
    width: 400px;
}

.box3 {
    background-color: rgba(0, 128, 0, 0.815);
    width: 980px;
    height: 900px;
    margin: 0 auto;
}

.section-container {
    background-color: white;
}

.section2-container {
    background-color: lightgrey;
}

.section3-container {
    background-color: white;
}

.section4-container {
    background-color: lightgray;
    padding-top: 50px;
    padding-bottom: 50px;
}